footer.footer.section(data-section-name="05")
  .footer__companies
    .container
      .flex-wrap
        a.footer__company(href="#")
          +icon('ico-daxmer')
        a.footer__company(href="#")
          +icon('ico-folder')
        a.footer__company(href="#")
          +icon('ico-optima')
        a.footer__company(href="#")
          +icon('ico-okl')
        a.footer__company(href="#")
          +icon('ico-fgl')
  .footer__mainbar
    .container
      .flex-wrap
        .footer__item
          h3.footer__item-title Продукция
            +icon('ico-arrow-down')
          ul
            li  
              a.footer__item-link(href="#") Комплектующие для монтажа кровли
            li  
              a.footer__item-link(href="#") Общестроительный крепеж
            li  
              a.footer__item-link(href="#") Защитные пленки
            li  
              a.footer__item-link(href="#") Комплектующие для монтажа окон
        .footer__item
          h3.footer__item-title Информация
            +icon('ico-arrow-down')
          ul
            li  
              a.footer__item-link(href="#") База знаний
            li  
              a.footer__item-link(href="#") Контактная информация
            li  
              a.footer__item-link(href="#") Политика конфеденциальности
            li  
              a.footer__item-link(href="#") Согласине на обработку персональных данных
        .footer__item
          h3.footer__item-title О компании
            +icon('ico-arrow-down')
          ul
            li  
              a.footer__item-link(href="#") О нас
            li  
              a.footer__item-link(href="#") Отзывы
            li  
              a.footer__item-link(href="#") Сертификаты
            li  
              a.footer__item-link(href="#") Новости
        .footer__item.footer__item--contacts
          span.footer__tel +7 484 399-61-84
          a.footer__mail(href="mailto:info@roofcom.ru") info@roofcom.ru
          button.footer__btn(type="button" js-open-form) Запросить прайс-лист
  .footer__copy
    .container
      .flex-wrap
        .footer__rights ©  2008 — 2017 Руфкомплект
        .footer__dev Разработка сайта -
          i.icon.icon-freshm