header.header
  .container
    .header__row.flex-wrap
      a.header__logo(href="/")
        i.icon.icon-logo
      nav.main-nav
        a.main-nav__link(href="#") О компании
        a.main-nav__link.main-nav__link--catalog(href="#" js-open-catalog) Каталог продукции
        a.main-nav__link(href="#") Сертификаты
        a.main-nav__link(href="#") Дилеры
        a.main-nav__link(href="#") Контакты
      .header__contacts
        span.header__tel +7 484 399 61 84
        button.header__bid(type="button") Оставить заявку