// Header
header.header
  .container
    .header__row.flex-wrap
      a.header__logo(href="/")
        include ../../icons/logo1.svg
        include ../../icons/logo2.svg
      nav.main-nav
        a.main-nav__link(href="#") О компании
        a.main-nav__link.main-nav__link--catalog(href="#" js-open-catalog) Каталог продукции
          button(class="hamburger hamburger--spin" type="button")
            span(class="hamburger-box")
              span(class="hamburger-inner")
        a.main-nav__link(href="#") Сертификаты
        a.main-nav__link(href="#") Дилеры
        a.main-nav__link(href="#") Контакты
      .header__contacts
        a.header__tel(href="tel:+74843996184") +7 484 399 61 84
        button.header__bid(type="button" js-open-form) Оставить заявку
      button(class="header__mobile-toggle hamburger hamburger--spin" type="button" js-open-mobile)
        span(class="hamburger-box")
          span(class="hamburger-inner")