.menu
  .container
    .menu__wrap.flex-wrap
      .menu__col
        .menu__row.flex-wrap
          .menu__item
            +icon('ico-roof')
            h3.menu__subtitle Для монтажа кровли
            ul
              li
                a.menu__link(href="#") Заклепки вытяжные
              li
                a.menu__link(href="#") Саморезы кровельные
              li
                a.menu__link(href="#") Изоляционные материалы
              li
                a.menu__link(href="#") Уплотнители для монтажа
              li
                a.menu__link(href="#") Кровельные аксессуары
          .menu__item
            +icon('ico-fixture')
            h3.menu__subtitle Общестроительный крепеж
            ul
              li
                a.menu__link(href="#") Шурупы
              li
                a.menu__link(href="#") Саморезы
              li
                a.menu__link(href="#") Дюбели
              li
                a.menu__link(href="#") Анкеры
              li
                a.menu__link(href="#") Метрический крепеж
              li
                a.menu__link(href="#") Такелаж
              li
                a.menu__link(href="#") Перфорированный крепеж
        .menu__row.flex-wrap
          .menu__item
            +icon('ico-skin')
            h3.menu__subtitle Для монтажа окон
            ul
              li
                a.menu__link(href="#") Предварительно сжатая уплотнительная лента OKLENT
              li
                a.menu__link(href="#") Изоляционные ленты OKLENT
              li
                a.menu__link(href="#") Нащельник ПВХ самоклеящийся
          .menu__item
            +icon('ico-window')
            h3.menu__subtitle Защитные пленки
            ul
              li
                a.menu__link(href="#") Для ПВХ изделий
              li
                a.menu__link(href="#") Для ПВХ подоконников
              li
                a.menu__link(href="#") Для ламинированных поверхностей
              li
                a.menu__link(href="#") Для ПВХ профилей
              li
                a.menu__link(href="#") Для анодированного алюминиевого профиля
              li
                a.menu__link(href="#") Для АКП панелей
              li
                a.menu__link(href="#") Для алюминиевого профиля
              li
                a.menu__link(href="#") Для профилированных изделий из оцинкованной стали с покрытием
      .menu__col.menu__col--brands
        h3.menu__subtitle Бренды
        a.menu__brand(href="#")
          +icon('ico-daxmer')
        a.menu__brand(href="#")
          +icon('ico-folder')
        a.menu__brand(href="#")
          +icon('ico-optima')
        a.menu__brand(href="#")
          +icon('ico-okl')
        a.menu__brand(href="#")
          +icon('ico-fgl')