.mobile-menu
  a.mobile-menu__link.mobile-menu__link--prod(href="#") Продукция
    +icon('ico-arrow-down')
  .mobile-menu__products
    a(href="#") Комплектующие для монтажа кровли
    a(href="#") Общестроительный крепеж
    a(href="#") Защитные пленки
    a(href="#") Комплектующие для монтажа окон
  a.mobile-menu__link(href="#") О компании
  a.mobile-menu__link(href="#") Сервис
  a.mobile-menu__link(href="#") Новости
  a.mobile-menu__link(href="#") Контакты
  a.mobile-menu__tel(href="tel:+74843996184") +7 484 399-61-84
    i.icon.icon-tel-mobile
  button.mobile-menu__bid(type="button" js-open-form) Оставить заявку
  p.mobile-menu__copy © 2017 ООО «Руфкомплект»
  a.mobile-menu__conf(href="#") Политика конфидециальности