---
title: Catalog
---
extends shared/_layout
block content
  .submenu
    .container
      a.main-nav__link(href="#") Для монтажа кровли
      a.main-nav__link(href="#") Крепеж
      a.main-nav__link(href="#") Защитные пленки
      a.main-nav__link.is-active(href="#") Комплектующие для монтажа окон
  section.catalog.page-section
    .container
      .breadcrumbs
        a.breadcrumbs__link(href="#") Главная
        a.breadcrumbs__link(href="#") Каталог
        a.breadcrumbs__link(href="#") Комплектующие для монтажа окон
      h1.catalog__title.page-title Комплектующие для монтажа окон
      .page-tabs.doc-section__tabs
        a.page-tabs__tab.filter-tab.is-active(href="#" data-filter="all") Все
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-first") ПСУ лента  OKLENT
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-second") Изоляционные ленты OKLENT
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-third") Нащедьник ПВХ самоклеящийся
        select.page-tabs__select(js-select)
          option(data-option="tab-all") Все
          option(data-option="tab1") ПСУ лента  OKLENT
          option(data-option="tab2") Изоляционные ленты OKLENT
          option(data-option="tab3") Нащедьник ПВХ самоклеящийся
      .catalog__row.flex-wrap.catalog__lent-row
        a(href="#").catalog__lent-item.tab-first
          .catalog__lent-company
            i.icon.icon-oklent-b
          .catalog__lent-img
            img(src="img/catl-lenta1.png")
          h3.catalog__lent-title Предварительно сжатая уплотнительная лента
          p.catalog__lent-text Rомплексная защиа швов и стыков от негативного климатического воздействия на протяжении всего срока эксплуатации
        a(href="#").catalog__lent-item.tab-second
          .catalog__lent-company
            i.icon.icon-oklent-b
          .catalog__lent-img
            img(src="img/catl-lenta2.png")
          h3.catalog__lent-title OKLent Alum
          p.catalog__lent-text Для внутренней пароизоляции откосов и защиты монтажной пены от влаги и конденсата со стороны помещения
        a(href="#").catalog__lent-item.tab-third
          .catalog__lent-company
            i.icon.icon-oklent-b
          .catalog__lent-img
            img(src="img/catl-lenta3.png")
          h3.catalog__lent-title OKLent DUB
          p.catalog__lent-text Для внутренней гидро-пароизоляции монтажного шва по всему периметру окна под последующую отделку откосов
        a(href="#").catalog__lent-item.tab-first
          .catalog__lent-company
            i.icon.icon-oklent-b
          .catalog__lent-img
            img(src="img/catl-lenta1.png")
          h3.catalog__lent-title Предварительно сжатая уплотнительная лента
          p.catalog__lent-text Rомплексная защиа швов и стыков от негативного климатического воздействия на протяжении всего срока эксплуатации
        a(href="#").catalog__lent-item.tab-second
          .catalog__lent-company
            i.icon.icon-oklent-b
          .catalog__lent-img
            img(src="img/catl-lenta2.png")
          h3.catalog__lent-title OKLent Alum
          p.catalog__lent-text Для внутренней пароизоляции откосов и защиты монтажной пены от влаги и конденсата со стороны помещения
        a(href="#").catalog__lent-item.tab-third
          .catalog__lent-company
            i.icon.icon-oklent-b
          .catalog__lent-img
            img(src="img/catl-lenta3.png")
          h3.catalog__lent-title OKLent DUB
          p.catalog__lent-text Для внутренней гидро-пароизоляции монтажного шва по всему периметру окна под последующую отделку откосов