---
title: Catalog
---
extends shared/_layout
block content
  .submenu
    .container
      a.main-nav__link(href="#") Для монтажа кровли
      a.main-nav__link.is-active(href="#") Крепеж
      a.main-nav__link(href="#") Защитные пленки
      a.main-nav__link(href="#") Комплектующие для монтажа окон
  section.catalog.page-section
    .container
      .breadcrumbs
        a.breadcrumbs__link(href="#") Главная
        a.breadcrumbs__link(href="#") Каталог
        a.breadcrumbs__link(href="#") Комплектующие для монтажа окон
      h1.catalog__title.page-title Комплектующие для монтажа окон
      .page-tabs.doc-section__tabs
        a.page-tabs__tab.filter-tab.is-active(href="#" data-filter="tab-second") Саморезы
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-first") Шурупы
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-third") Дюбели
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-second") Анкеры
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-first") Метрический крепеж
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-third") Комплектующие для монтажа окон
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-first") Такелаж
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-third") Перфорированный крепеж
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-second") Вытяжные заклепки
        select.page-tabs__select(js-select)
          option(data-option="tab0") Саморезы
          option(data-option="tab1") Шурупы
          option(data-option="tab2") Дюбели
          option(data-option="tab3") Анкеры
          option(data-option="tab4") Метрический крепеж
          option(data-option="tab5") Комплектующие для монтажа окон
          option(data-option="tab6") Такелаж
          option(data-option="tab7") Перфорированный крепеж
          option(data-option="tab8") Вытяжные заклепки
      .catalog__row.flex-wrap.catalog__lent-row
        a(href="#").tab-first.catalog__lent-item
          .catalog__lent-img
            img(src="img/catl-bolt.png")
          h3.catalog__lent-title Саморезы ГКД
          p.catalog__lent-text Для монтажа гипсокартонных листов к деревянному основанию
          .catalog__lent-info
            h3.catalog__lent-info-title Головка:
              i.icon.icon-bolt1
              span потайная
            h3.catalog__lent-info-title Наконечник:
              i.icon.icon-bolt2
              span острый
            h3.catalog__lent-info-title Покрытие:
              i.icon.icon-bolt3
              span фосфатированный
        a(href="#").tab-third.catalog__lent-item
          .catalog__lent-img
            img(src="img/catl-bolt2.png")
          h3.catalog__lent-title Саморезы ГКД
          p.catalog__lent-text Для монтажа гипсокартонных листов к деревянному основанию
          .catalog__lent-info
            h3.catalog__lent-info-title Головка:
              i.icon.icon-bolt1
              span потайная
            h3.catalog__lent-info-title Наконечник:
              i.icon.icon-bolt2
              span острый
            h3.catalog__lent-info-title Покрытие:
              i.icon.icon-bolt3
              span фосфатированный
        a(href="#").tab-second.catalog__lent-item
          .catalog__lent-img
            img(src="img/catl-bolt.png")
          h3.catalog__lent-title Саморезы ГКД
          p.catalog__lent-text Для монтажа гипсокартонных листов к деревянному основанию
          .catalog__lent-info
            h3.catalog__lent-info-title Головка:
              i.icon.icon-bolt1
              span потайная
            h3.catalog__lent-info-title Наконечник:
              i.icon.icon-bolt2
              span острый
            h3.catalog__lent-info-title Покрытие:
              i.icon.icon-bolt3
              span фосфатированный
        a(href="#").tab-second.catalog__lent-item
          .catalog__lent-img
            img(src="img/catl-bolt2.png")
          h3.catalog__lent-title Саморезы ГКД
          p.catalog__lent-text Для монтажа гипсокартонных листов к деревянному основанию
          .catalog__lent-info
            h3.catalog__lent-info-title Головка:
              i.icon.icon-bolt1
              span потайная
            h3.catalog__lent-info-title Наконечник:
              i.icon.icon-bolt2
              span острый
            h3.catalog__lent-info-title Покрытие:
              i.icon.icon-bolt3
              span фосфатированный
        a(href="#").tab-third.catalog__lent-item
          .catalog__lent-img
            img(src="img/catl-bolt.png")
          h3.catalog__lent-title Саморезы ГКД
          p.catalog__lent-text Для монтажа гипсокартонных листов к деревянному основанию
          .catalog__lent-info
            h3.catalog__lent-info-title Головка:
              i.icon.icon-bolt1
              span потайная
            h3.catalog__lent-info-title Наконечник:
              i.icon.icon-bolt2
              span острый
            h3.catalog__lent-info-title Покрытие:
              i.icon.icon-bolt3
              span фосфатированный
        a(href="#").tab-first.catalog__lent-item
          .catalog__lent-img
            img(src="img/catl-bolt2.png")
          h3.catalog__lent-title Саморезы ГКД
          p.catalog__lent-text Для монтажа гипсокартонных листов к деревянному основанию
          .catalog__lent-info
            h3.catalog__lent-info-title Головка:
              i.icon.icon-bolt1
              span потайная
            h3.catalog__lent-info-title Наконечник:
              i.icon.icon-bolt2
              span острый
            h3.catalog__lent-info-title Покрытие:
              i.icon.icon-bolt3
              span фосфатированный
        a(href="#").tab-third.catalog__lent-item
          .catalog__lent-img
            img(src="img/catl-bolt.png")
          h3.catalog__lent-title Саморезы ГКД
          p.catalog__lent-text Для монтажа гипсокартонных листов к деревянному основанию
          .catalog__lent-info
            h3.catalog__lent-info-title Головка:
              i.icon.icon-bolt1
              span потайная
            h3.catalog__lent-info-title Наконечник:
              i.icon.icon-bolt2
              span острый
            h3.catalog__lent-info-title Покрытие:
              i.icon.icon-bolt3
              span фосфатированный
        a(href="#").tab-first.catalog__lent-item
          .catalog__lent-img
            img(src="img/catl-bolt2.png")
          h3.catalog__lent-title Саморезы ГКД
          p.catalog__lent-text Для монтажа гипсокартонных листов к деревянному основанию
          .catalog__lent-info
            h3.catalog__lent-info-title Головка:
              i.icon.icon-bolt1
              span потайная
            h3.catalog__lent-info-title Наконечник:
              i.icon.icon-bolt2
              span острый
            h3.catalog__lent-info-title Покрытие:
              i.icon.icon-bolt3
              span фосфатированный
      .page-pagination
        a.page-pagination__link.is-active(href="#") 1
        a.page-pagination__link(href="#") 2
        a.page-pagination__link(href="#") 3
        a.page-pagination__link(href="#") 4
        a.page-pagination__link.page-pagination__link--next(href="#") ▶
        