---
title: Catalog
---
extends shared/_layout
block content
  .submenu
    .container
      a.main-nav__link.is-active(href="#") Для монтажа кровли
      a.main-nav__link(href="#") Крепеж
      a.main-nav__link(href="#") Защитные пленки
      a.main-nav__link(href="#") Комплектующие для монтажа окон
  section.catalog.page-section
    .container
      .breadcrumbs
        a.breadcrumbs__link(href="#") Главная
        a.breadcrumbs__link(href="#") Каталог
        a.breadcrumbs__link(href="#") Крепеж
        a.breadcrumbs__link(href="#") Саморезы
      h1.catalog__title.page-title Кровельные аксессуары
      .catalog__row.flex-wrap
        .catalog__item
          .catalog__hidden
            a.catalog__hidden-item(href="#") 
              span UNIROOF кровельный люк
            a.catalog__hidden-item(href="#") 
              span Проходные элементы для кровли
            a.catalog__hidden-item(href="#") 
              span Уплотнители выходов антенн и труб
            a.catalog__hidden-item(href="#") 
              span Вентиляторы
            a.catalog__hidden-item(href="#") 
              span Вентиляционные выходы
          .catalog__item-btnwrap
            button.catalog__item-btn.hamburger.hamburger--spin(type="button" js-catalog-btn)
              span(class="hamburger-box")
                span(class="hamburger-inner")
            span.catalog__item-span Каталог
          .catalog__item-img
            img(src="img/catl-img1.png")
          h2.catalog__item-title 
            a(href="#") Шайбы для монтажа поликарбоната
          span.catalog__item-naming наименований: 21
        .catalog__info-item
          h2.catalog__info-title Качество. Надежность. Долговечность.
          span.catalog__info-company Roofcomplect
        .catalog__item
          .catalog__hidden
            a.catalog__hidden-item(href="#") 
              span UNIROOF кровельный люк
            a.catalog__hidden-item(href="#") 
              span Проходные элементы для кровли
            a.catalog__hidden-item(href="#") 
              span Уплотнители выходов антенн и труб
            a.catalog__hidden-item(href="#") 
              span Вентиляторы
            a.catalog__hidden-item(href="#") 
              span Вентиляционные выходы
          .catalog__item-btnwrap
            button.catalog__item-btn.hamburger.hamburger--spin(type="button" js-catalog-btn)
              span(class="hamburger-box")
                span(class="hamburger-inner")
            span.catalog__item-span Каталог
          .catalog__item-img
            img(src="img/catl-img2.png")
          h2.catalog__item-title 
            a(href="#") Пластины перфорированные
          span.catalog__item-naming наименований: 41