---
title: Documents
---
extends shared/_layout
block content
  section.doc-section
    .container
      h1.doc-section__title Сертификаты
      .doc-section__tabs
        a.doc-section__tab.doc-section__tab--all.is-active(href="#") Все сертификаты
        a.doc-section__tab(href="#") Кровельный крепеж и уплотнители
        a.doc-section__tab(href="#") Изоляционные материалы Folder и Optima
        a.doc-section__tab(href="#") Общестроительный крепеж
        a.doc-section__tab(href="#") Защитная пленка
        a.doc-section__tab(href="#") Комплектующие для монтажа окон
      .doc-section__item.flex-wrap
        .doc-section__aside
          h2.doc-section__subtitle Кровельный крепеж и уплотнители
          select.doc-section__select(js-select)
            option Тип изделия
            option Комплектующие для монтажа кровли
            option Общестроительный крепеж
            option Защитные пленки
            option Комплектующие для монтажа окон
        .doc-section__main
          a.doc-section__document(href="#") Диплом кровельных саморезов "100 лучших товаров России"
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Техническое свидетельство заклепки Daxmer
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Отказное письмо, кровельные манжеты и проходки MasterFlash
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Диплом кровельных саморезов "100 лучших товаров России"
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Техническое свидетельство заклепки Daxmer
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Отказное письмо, кровельные манжеты и проходки MasterFlash
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Диплом кровельных саморезов "100 лучших товаров России"
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Техническое свидетельство заклепки Daxmer
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Отказное письмо, кровельные манжеты и проходки MasterFlash
            include ../icons/pdf.svg
      .doc-section__item.flex-wrap
        .doc-section__aside
          h2.doc-section__subtitle Изоляционные материалы Folder и Optima
          select.doc-section__select(js-select)
            option Тип изделия
            option Комплектующие для монтажа кровли
            option Общестроительный крепеж
            option Защитные пленки
            option Комплектующие для монтажа окон
          a.doc-section__archive(href="#") Скачать архивом
            +icon('ico-upload-icon')
        .doc-section__main
          a.doc-section__document(href="#") Диплом кровельных саморезов "100 лучших товаров России"
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Техническое свидетельство заклепки Daxmer
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Отказное письмо, кровельные манжеты и проходки MasterFlash
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Диплом кровельных саморезов "100 лучших товаров России"
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Техническое свидетельство заклепки Daxmer
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Отказное письмо, кровельные манжеты и проходки MasterFlash
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Диплом кровельных саморезов "100 лучших товаров России"
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Техническое свидетельство заклепки Daxmer
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Отказное письмо, кровельные манжеты и проходки MasterFlash
            include ../icons/pdf.svg
      .doc-section__item.flex-wrap
        .doc-section__aside
          h2.doc-section__subtitle Защитная пленка
          a.doc-section__archive(href="#") Скачать архивом
            +icon('ico-upload-icon')
        .doc-section__main
          a.doc-section__document(href="#") Диплом кровельных саморезов "100 лучших товаров России"
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Техническое свидетельство заклепки Daxmer
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Отказное письмо, кровельные манжеты и проходки MasterFlash
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Диплом кровельных саморезов "100 лучших товаров России"
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Техническое свидетельство заклепки Daxmer
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Отказное письмо, кровельные манжеты и проходки MasterFlash
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Диплом кровельных саморезов "100 лучших товаров России"
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Техническое свидетельство заклепки Daxmer
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Отказное письмо, кровельные манжеты и проходки MasterFlash
            include ../icons/pdf.svg
      .doc-section__item.flex-wrap
        .doc-section__aside
          h2.doc-section__subtitle Комплектующие для монтажа окон
          a.doc-section__archive(href="#") Скачать архивом
            +icon('ico-upload-icon')
        .doc-section__main
          a.doc-section__document(href="#") Диплом кровельных саморезов "100 лучших товаров России"
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Техническое свидетельство заклепки Daxmer
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Отказное письмо, кровельные манжеты и проходки MasterFlash
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Диплом кровельных саморезов "100 лучших товаров России"
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Техническое свидетельство заклепки Daxmer
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Отказное письмо, кровельные манжеты и проходки MasterFlash
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Диплом кровельных саморезов "100 лучших товаров России"
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Техническое свидетельство заклепки Daxmer
            include ../icons/pdf.svg
          a.doc-section__document(href="#") Отказное письмо, кровельные манжеты и проходки MasterFlash
            include ../icons/pdf.svg