---
title: Events
---
extends shared/_layout
block content
  section.service.page-section
    .container
      h1.service__title.page-title События компании
      .service__wrap.flex-wrap
        a.service-item.service-item--empty(href="#")
          .service-item__tags
            button.service-item__tag(type="button") #folder
            button.service-item__tag(type="button") #диллерам
            button.service-item__tag(type="button") #мануал
          .service-item__wrap
            .service-item__date 03/04
            h3.service-item__title Инструкция монтажа перекрытий усиленным уголком
        a.service-item.service-item--empty(href="#")
          .service-item__tags
            button.service-item__tag(type="button") #folder
            button.service-item__tag(type="button") #диллерам
            button.service-item__tag(type="button") #мануал
          .service-item__wrap
            .service-item__date 03/04
            h3.service-item__title Крепеж стропил своими силами, нюансы
        a.service-item.service-item--empty(href="#")
          .service-item__wrap
            .service-item__date 03/04
            h3.service-item__title Монтаж балок в кирпичном доме с помощью анкерного болта с гайкой
        a.service-item.service-item--empty(href="#")
          .service-item__tags
            button.service-item__tag(type="button") #folder
            button.service-item__tag(type="button") #диллерам
            button.service-item__tag(type="button") #мануал
          .service-item__wrap
            .service-item__date 03/04
            h3.service-item__title Инструкция монтажа перекрытий усиленным уголком
        a.service-item.service-item--empty(href="#")
          .service-item__tags
            button.service-item__tag(type="button") #folder
            button.service-item__tag(type="button") #диллерам
            button.service-item__tag(type="button") #мануал
          .service-item__wrap
            .service-item__date 03/04
            h3.service-item__title Крепеж стропил своими силами, нюансы
        a.service-item.service-item--empty(href="#")
          .service-item__tags
            button.service-item__tag(type="button") #folder
            button.service-item__tag(type="button") #диллерам
            button.service-item__tag(type="button") #мануал
          .service-item__wrap
            .service-item__date 03/04
            h3.service-item__title Монтаж балок в кирпичном доме с помощью анкерного болта с гайко
      .page-pagination
        a.page-pagination__link.is-active(href="#") 1
        a.page-pagination__link(href="#") 2
        a.page-pagination__link(href="#") 3
        a.page-pagination__link(href="#") 4
        a.page-pagination__link.page-pagination__link--next(href="#") ▶