---
title: Events
---
extends shared/_layout
block content
  section.service.page-section
    .container
      h1.service__title.page-title События компании
      .service__wrap.flex-wrap
        .service-item.service-item--empty
          .service-item__tags
            a.service-item__tag(href="#") #folder
            a.service-item__tag(href="#") #диллерам
            a.service-item__tag(href="#") #мануал
          .service-item__wrap
            .service-item__date 03/04
            h3.service-item__title 
              a(href="#") Инструкция монтажа перекрытий усиленным уголком
        .service-item.service-item--empty
          .service-item__tags
            a.service-item__tag(href="#") #folder
            a.service-item__tag(href="#") #диллерам
            a.service-item__tag(href="#") #мануал
          .service-item__wrap
            .service-item__date 03/04
            h3.service-item__title 
              a(href="#") Крепеж стропил своими силами, нюансы
        .service-item.service-item--empty
          .service-item__tags
            a.service-item__tag(href="#") #folder
            a.service-item__tag(href="#") #диллерам
            a.service-item__tag(href="#") #мануал
          .service-item__wrap
            .service-item__date 03/04
            h3.service-item__title 
              a(href="#") Монтаж балок в кирпичном доме с помощью анкерного болта с гайкой
        .service-item.service-item--empty
          .service-item__tags
            a.service-item__tag(href="#") #folder
            a.service-item__tag(href="#") #диллерам
            a.service-item__tag(href="#") #мануал
          .service-item__wrap
            .service-item__date 03/04
            h3.service-item__title 
              a(href="#") Инструкция монтажа перекрытий усиленным уголком
        .service-item.service-item--empty
          .service-item__tags
            a.service-item__tag(href="#") #folder
            a.service-item__tag(href="#") #диллерам
            a.service-item__tag(href="#") #мануал
          .service-item__wrap
            .service-item__date 03/04
            h3.service-item__title 
              a(href="#") Крепеж стропил своими силами, нюансы
        .service-item.service-item--empty
          .service-item__tags
            a.service-item__tag(href="#") #folder
            a.service-item__tag(href="#") #диллерам
            a.service-item__tag(href="#") #мануал
          .service-item__wrap
            .service-item__date 03/04
            h3.service-item__title 
              a(href="#") Монтаж балок в кирпичном доме с помощью анкерного болта с гайко
      .page-pagination
        a.page-pagination__link.is-active(href="#") 1
        a.page-pagination__link(href="#") 2
        a.page-pagination__link(href="#") 3
        a.page-pagination__link(href="#") 4
        a.page-pagination__link.page-pagination__link--next(href="#") ▶