---
title: Homepage
---
extends shared/_layout
block content
  main.page-main
    section.manufac-section
      .container
        .manufac-section__wrap.flex-wrap
          h2.common-title Производство комплектующих для строительства
          p.common-descr Комплексные поставки на Российский рынок профессиональных материалов для монтажа кровли и окон
          .manufac-section__companies.flex-wrap
            a.manufac-section__company(href="#")
              +icon('ico-daxmer')
            a.manufac-section__company(href="#")
              +icon('ico-folder')
            a.manufac-section__company(href="#")
              +icon('ico-optima')
            a.manufac-section__company(href="#")
              +icon('ico-okl')
            a.manufac-section__company(href="#")
              +icon('ico-fgl')
    section.product-section
      .container
        .product-section__wrap.flex-wrap
          h2.common-title Продукция
          p.common-descr Комплексные поставки на Российский рынок профессиональных материалов для монтажа кровли и окон
          .product-section__products.flex-wrap
            .product-section__item
              .product-section__item-img
                +icon('ico-roof')
              h3.product-section__item-title 
                a(href="#") Комплектующие<br> для кровли
            .product-section__item
              .product-section__item-img
                +icon('ico-fixture')
              h3.product-section__item-title 
                a(href="#") Строительный<br> крепеж
            .product-section__item
              .product-section__item-img
                +icon('ico-skin')
              h3.product-section__item-title 
                a(href="#") Защитные<br> пленки
            .product-section__item
              .product-section__item-img
                +icon('ico-window')
              h3.product-section__item-title 
                a(href="#") Комплектующие<br> для монтажа окон
    section.advantages
      .container
        .advantages__wrap.flex-wrap
          .advantages__titles
            h2.common-title.common-title--black преимущества Руфкомлект
            button.advantages__btn(type="button") Начать сотрудничество
          .advantages__more.flex-wrap
            .advantages__item
              h3.advantages__item-title Лидеры отрасли
                +icon('ico-cup')
              p.advantages__item-descr Мы лидеры на рынке комплек-тующих для строительства
            .advantages__item
              h3.advantages__item-title Короткие сроки
                +icon('ico-timer')
              p.advantages__item-descr Оперативное выполнение оптовых заказов
            .advantages__item
              h3.advantages__item-title Высокое качество
                +icon('ico-medal')
              p.advantages__item-descr Гарантируем отличное качество выпускаемой продукции
            .advantages__item
              h3.advantages__item-title Широкий ассортимент
                +icon('ico-handshake')
              p.advantages__item-descr Более 300 наименований продукции
    section.events-section
      .container
        h2.events-section__title события компании
        .events-section__wrap.flex-wrap
          .events-section__col
            .event-item.event-item--full
              h3.event-item__title Новинка
              p.event-item__descr Армированная двусторонняя монтажная лента Folder butil PRO.
              p.event-item__descr Материал: бутилкаучук. Армирующий слой - стеклосетка, ячейка 3х3 мм
          .events-section__col
            .event-item.event-item--full
              h3.event-item__title 10.05.17
              p.event-item__descr Новинки! Расширение размерного ряда вытяжных заклепок!
          .events-section__col
            .event-item
              h3.event-item__title 10.05.17
              p.event-item__descr Новинки! Расширение размерного ряда вытяжных заклепок!
            .event-item
              h3.event-item__title 10.05.17
              p.event-item__descr Новинки! Расширение размерного ряда вытяжных заклепок!
        