---
title: Instruction
---
extends shared/_layout
block content
  section.instruction.page-section
    .container
      .instruction__wrapper
        .breadcrumbs
          a.breadcrumbs__link(href="#") Главная
          a.breadcrumbs__link(href="#") О компании
          a.breadcrumbs__link(href="#") Сервис
        h1.instruction__title.page-title Монтаж пароизоляции FOLDER своими золотыми руками
        .instruction__tags
          a.instruction__tag(href="#") #folder
          a.instruction__tag(href="#") #инструкция
          a.instruction__tag(href="#") #кровля
        p.instruction__text Рады сообщить вам о вводе в эксплуатацию нового, современного оборудования по производству перфорированного крепежа. Данный инвестиционный проект был реализован в рамках программы технического развития ООО "ТПК Руфкомплект".
        .instruction__video
        p.instruction__text Новая линия позволила расширить предлагаемый нами номенклатурный ряд: 
        ul.instruction__list
          li Пластины  - соединительные, крепежные;
          li Уголки - крепежные, равносторонние, усиленные, анкерные; 
          li Опоры - бруса, стропил;
          li Держатели балок и т.д.
        p.instruction__text
        ul.instruction__list
          li "Честная толщина, точный размер";
          li Большие мощности оборудования;
          li Наличие сертификата соответствия;
          li Высокая антикоррозионная стойкость. Цинковое покрытие не ниже 180г/м2.
        a.instruction__download(href="#") 
          span Скачать инструкцию (pdf)
        .instruction__share
          span Поделиться: