---
title: Reviews
---
extends shared/_layout
block content
  .section.reviews-section
    .container
      h1.reviews-section__title Отзывы
      .reviews-section__item.flex-wrap
        .reviews-section__img
          img(src="img/review1.jpg")
        .reviews-section__info
          h2.reviews-section__subtitle Благодарственное письмо от компании «Саморезик.ру» 
          p.reviews-section__descr При выборе поставщика опирались на широкий ассортимент, отличного качества поставляемой продукции и свое производство. Хочется отметить прекрасную работу специалистов: действуют быстро, слаженно, оперативно плюс всегда могут помочь в технических хитросплетениях своей продукции.
          p.reviews-section__descr Нам приятно работать с компанией ООО "ТПК Руфкомплект", мы выражаем уверенность в сохранении сложившихся взаимовыгодных отношений и надеемся на дальнейшее взаимовыгодное сотрудничество".
      .reviews-section__item.flex-wrap
        .reviews-section__img
          img(src="img/review2.jpg")
        .reviews-section__info
          h2.reviews-section__subtitle Благодарственное письмо от компании «Профкровля» 
          p.reviews-section__descr Компания "Профкровля" выражает искреннюю благодарность и глубокую признательность компании ООО "ТПК Руфкомплект" за плодотворное сотрудничество.
          p.reviews-section__descr Мы верим в сохранение сложившихся деловых и дружеских отношений, надеемся на дальнейшее взаимовыгодное сотрудничество. 
          p.reviews-section__descr Желаем успешного развития и достижения новых вершин в бизнесе
      .reviews-section__item.flex-wrap
        .reviews-section__img
          img(src="img/review3.jpg")
        .reviews-section__info
          h2.reviews-section__subtitle Благодарственное письмо от компании «Саморезик.ру» 
          p.reviews-section__descr При выборе поставщика опирались на широкий ассортимент, отличного качества поставляемой продукции и свое производство. Хочется отметить прекрасную работу специалистов: действуют быстро, слаженно, оперативно плюс всегда могут помочь в технических хитросплетениях своей продукции.
          p.reviews-section__descr Нам приятно работать с компанией ООО "ТПК Руфкомплект", мы выражаем уверенность в сохранении сложившихся взаимовыгодных отношений и надеемся на дальнейшее взаимовыгодное сотрудничество".
      .reviews-section__item.flex-wrap
        .reviews-section__img
          img(src="img/review4.jpg")
        .reviews-section__info
          h2.reviews-section__subtitle Благодарственное письмо от компании «Профкровля» 
          p.reviews-section__descr Компания "Профкровля" выражает искреннюю благодарность и глубокую признательность компании ООО "ТПК Руфкомплект" за плодотворное сотрудничество.
          p.reviews-section__descr Мы верим в сохранение сложившихся деловых и дружеских отношений, надеемся на дальнейшее взаимовыгодное сотрудничество. 
          p.reviews-section__descr Желаем успешного развития и достижения новых вершин в бизнесе
      .reviews-section__item.flex-wrap
        .reviews-section__img
          img(src="img/review1.jpg")
        .reviews-section__info
          h2.reviews-section__subtitle Благодарственное письмо от компании «Саморезик.ру» 
          p.reviews-section__descr При выборе поставщика опирались на широкий ассортимент, отличного качества поставляемой продукции и свое производство. Хочется отметить прекрасную работу специалистов: действуют быстро, слаженно, оперативно плюс всегда могут помочь в технических хитросплетениях своей продукции.
          p.reviews-section__descr Нам приятно работать с компанией ООО "ТПК Руфкомплект", мы выражаем уверенность в сохранении сложившихся взаимовыгодных отношений и надеемся на дальнейшее взаимовыгодное сотрудничество".
      .reviews-section__item.flex-wrap
        .reviews-section__img
          img(src="img/review2.jpg")
        .reviews-section__info
          h2.reviews-section__subtitle Благодарственное письмо от компании «Профкровля» 
          p.reviews-section__descr Компания "Профкровля" выражает искреннюю благодарность и глубокую признательность компании ООО "ТПК Руфкомплект" за плодотворное сотрудничество.
          p.reviews-section__descr Мы верим в сохранение сложившихся деловых и дружеских отношений, надеемся на дальнейшее взаимовыгодное сотрудничество. 
          p.reviews-section__descr Желаем успешного развития и достижения новых вершин в бизнесе
      .reviews-section__item.flex-wrap
        .reviews-section__img
          img(src="img/review3.jpg")
        .reviews-section__info
          h2.reviews-section__subtitle Благодарственное письмо от компании «Саморезик.ру» 
          p.reviews-section__descr При выборе поставщика опирались на широкий ассортимент, отличного качества поставляемой продукции и свое производство. Хочется отметить прекрасную работу специалистов: действуют быстро, слаженно, оперативно плюс всегда могут помочь в технических хитросплетениях своей продукции.
          p.reviews-section__descr Нам приятно работать с компанией ООО "ТПК Руфкомплект", мы выражаем уверенность в сохранении сложившихся взаимовыгодных отношений и надеемся на дальнейшее взаимовыгодное сотрудничество".
      .reviews-section__item.flex-wrap
        .reviews-section__img
          img(src="img/review4.jpg")
        .reviews-section__info
          h2.reviews-section__subtitle Благодарственное письмо от компании «Профкровля» 
          p.reviews-section__descr Компания "Профкровля" выражает искреннюю благодарность и глубокую признательность компании ООО "ТПК Руфкомплект" за плодотворное сотрудничество.
          p.reviews-section__descr Мы верим в сохранение сложившихся деловых и дружеских отношений, надеемся на дальнейшее взаимовыгодное сотрудничество. 
          p.reviews-section__descr Желаем успешного развития и достижения новых вершин в бизнесе