---
title: Service
---
extends shared/_layout
block content
  section.service.page-section
    .container
      h1.service__title.page-title Сервисные инструкции
      .page-tabs.doc-section__tabs
        a.page-tabs__tab.is-active(href="#" data-id="0") Саморезы
        a.page-tabs__tab(href="#" data-id="tab1") Шурупы
        a.page-tabs__tab(href="#" data-id="tab2") Дюбели
        a.page-tabs__tab(href="#" data-id="tab3") Анкеры
        a.page-tabs__tab(href="#" data-id="tab4") Метрический крепеж
        a.page-tabs__tab(href="#" data-id="tab5") Комплектующие для монтажа окон
        a.page-tabs__tab(href="#" data-id="tab6") Такелаж
        a.page-tabs__tab(href="#" data-id="tab7") Перфорированный крепеж
        a.page-tabs__tab(href="#" data-id="tab8") Вытяжные заклепки
        select.page-tabs__select(js-select)
          option(data-option="tab0") Саморезы
          option(data-option="tab1") Шурупы
          option(data-option="tab2") Дюбели
          option(data-option="tab3") Анкеры
          option(data-option="tab4") Метрический крепеж
          option(data-option="tab5") Комплектующие для монтажа окон
          option(data-option="tab6") Такелаж
          option(data-option="tab7") Перфорированный крепеж
          option(data-option="tab8") Вытяжные заклепки
      .service__wrap.flex-wrap
        .service-item
          .service-item__img
            img(src="img/serv1.jpg")
            .service-item__tags
              a.service-item__tag(href="#") #folder
              a.service-item__tag(href="#") #диллерам
              a.service-item__tag(href="#") #мануал
          .service-item__wrap
            h3.service-item__title 
              a(href="#") Инструкция монтажа перекрытий усиленным уголком
        .service-item
          .service-item__img
            img(src="img/serv2.jpg")
            .service-item__tags
              a.service-item__tag(href="#") #folder
              a.service-item__tag(href="#") #диллерам
              a.service-item__tag(href="#") #мануал
          .service-item__wrap
            h3.service-item__title 
              a(href="#") Крепеж стропил своими силами, нюансы
        .service-item
          .service-item__img
            img(src="img/serv3.jpg")
            .service-item__tags
              a.service-item__tag(href="#") #folder
              a.service-item__tag(href="#") #диллерам
              a.service-item__tag(href="#") #мануал
          .service-item__wrap
            h3.service-item__title 
              a(href="#") Монтаж балок в кирпичном доме с помощью анкерного болта с гайкой
        .service-item
          .service-item__img
            img(src="img/serv1.jpg")
            .service-item__tags
              a.service-item__tag(href="#") #folder
              a.service-item__tag(href="#") #диллерам
              a.service-item__tag(href="#") #мануал
          .service-item__wrap
            h3.service-item__title 
              a(href="#") Инструкция монтажа перекрытий усиленным уголком
        .service-item
          .service-item__img
            img(src="img/serv2.jpg")
            .service-item__tags
              a.service-item__tag(href="#") #folder
              a.service-item__tag(href="#") #диллерам
              a.service-item__tag(href="#") #мануал
          .service-item__wrap
            h3.service-item__title 
              a(href="#") Крепеж стропил своими силами, нюансы
        .service-item
          .service-item__img
            img(src="img/serv3.jpg")
            .service-item__tags
              a.service-item__tag(href="#") #folder
              a.service-item__tag(href="#") #диллерам
              a.service-item__tag(href="#") #мануал
          .service-item__wrap
            h3.service-item__title 
              a(href="#") Монтаж балок в кирпичном доме с помощью анкерного болта с гайко
        .service-item
          .service-item__img
            img(src="img/serv1.jpg")
            .service-item__tags
              a.service-item__tag(href="#") #folder
              a.service-item__tag(href="#") #диллерам
              a.service-item__tag(href="#") #мануал
          .service-item__wrap
            h3.service-item__title 
              a(href="#") Инструкция монтажа перекрытий усиленным уголком
        .service-item
          .service-item__img
            img(src="img/serv2.jpg")
            .service-item__tags
              a.service-item__tag(href="#") #folder
              a.service-item__tag(href="#") #диллерам
              a.service-item__tag(href="#") #мануал
          .service-item__wrap
            h3.service-item__title 
              a(href="#") Крепеж стропил своими силами, нюансы
        .service-item
          .service-item__img
            img(src="img/serv3.jpg")
            .service-item__tags
              a.service-item__tag(href="#") #folder
              a.service-item__tag(href="#") #диллерам
              a.service-item__tag(href="#") #мануал
          .service-item__wrap
            h3.service-item__title 
              a(href="#") Монтаж балок в кирпичном доме с помощью анкерного болта с гайко
      .page-pagination
        a.page-pagination__link.is-active(href="#") 1
        a.page-pagination__link(href="#") 2
        a.page-pagination__link(href="#") 3
        a.page-pagination__link(href="#") 4
        a.page-pagination__link.page-pagination__link--next(href="#") ▶