---
title: Service
---
extends shared/_layout
block content
  section.service.page-section
    .container
      h1.service__title.page-title Сервисные инструкции
      .page-tabs.doc-section__tabs
        a.page-tabs__tab.filter-tab.is-active(href="#" data-filter="tab-first") Саморезы
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-first") Шурупы
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-second") Дюбели
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-third") Анкеры
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-first") Метрический крепеж
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-second") Комплектующие для монтажа окон
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-third") Такелаж
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-first") Перфорированный крепеж
        a.page-tabs__tab.filter-tab(href="#" data-filter="tab-second") Вытяжные заклепки
        select.page-tabs__select(js-select)
          option(data-option="tab0") Саморезы
          option(data-option="tab1") Шурупы
          option(data-option="tab2") Дюбели
          option(data-option="tab3") Анкеры
          option(data-option="tab4") Метрический крепеж
          option(data-option="tab5") Комплектующие для монтажа окон
          option(data-option="tab6") Такелаж
          option(data-option="tab7") Перфорированный крепеж
          option(data-option="tab8") Вытяжные заклепки
      .service__wrap.flex-wrap#filter-tabs
        a.service-item.is-active.tab-first(href="#")
          .service-item__img
            img(src="img/serv1.jpg")
            .service-item__tags
              button.service-item__tag(type="button") #folder
              button.service-item__tag(type="button") #диллерам
              button.service-item__tag(type="button") #мануал
          .service-item__wrap
            h3.service-item__title  Инструкция монтажа перекрытий усиленным уголком
        a.service-item.is-active.tab-first(href="#")
          .service-item__img
            img(src="img/serv2.jpg")
            .service-item__tags
              button.service-item__tag(type="button") #folder
              button.service-item__tag(type="button") #диллерам
              button.service-item__tag(type="button") #мануал
          .service-item__wrap
            h3.service-item__title  Крепеж стропил своими силами, нюансы
        a.service-item.is-active.tab-second(href="#")
          .service-item__img
            img(src="img/serv3.jpg")
            .service-item__tags
              button.service-item__tag(type="button") #folder
              button.service-item__tag(type="button") #диллерам
              button.service-item__tag(type="button") #мануал
          .service-item__wrap
            h3.service-item__title  Монтаж балок в кирпичном доме с помощью анкерного болта с гайкой)
        a.service-item.is-active.tab-second(href="#")
          .service-item__img
            img(src="img/serv1.jpg")
            .service-item__tags
              button.service-item__tag(type="button") #folder
              button.service-item__tag(type="button") #диллерам
              button.service-item__tag(type="button") #мануал
          .service-item__wrap
            h3.service-item__title  Инструкция монтажа перекрытий усиленным уголком
        a.service-item.is-active.tab-third(href="#")
          .service-item__img
            img(src="img/serv2.jpg")
            .service-item__tags
              button.service-item__tag(type="button") #folder
              button.service-item__tag(type="button") #диллерам
              button.service-item__tag(type="button") #мануал
          .service-item__wrap
            h3.service-item__title  Крепеж стропил своими силами, нюансы
        a.service-item.is-active.tab-third(href="#")
          .service-item__img
            img(src="img/serv3.jpg")
            .service-item__tags
              button.service-item__tag(type="button") #folder
              button.service-item__tag(type="button") #диллерам
              button.service-item__tag(type="button") #мануал
          .service-item__wrap
            h3.service-item__title  Монтаж балок в кирпичном доме с помощью анкерного болта с гайко
        a.service-item.is-active.tab-first(href="#")
          .service-item__img
            img(src="img/serv1.jpg")
            .service-item__tags
              button.service-item__tag(type="button") #folder
              button.service-item__tag(type="button") #диллерам
              button.service-item__tag(type="button") #мануал
          .service-item__wrap
            h3.service-item__title  Инструкция монтажа перекрытий усиленным уголком
        a.service-item.is-active.tab-first(href="#")
          .service-item__img
            img(src="img/serv2.jpg")
            .service-item__tags
              button.service-item__tag(type="button") #folder
              button.service-item__tag(type="button") #диллерам
              button.service-item__tag(type="button") #мануал
          .service-item__wrap
            h3.service-item__title  Крепеж стропил своими силами, нюансы
        a.service-item.is-active.tab-third(href="#")
          .service-item__img
            img(src="img/serv3.jpg")
            .service-item__tags
              button.service-item__tag(type="button") #folder
              button.service-item__tag(type="button") #диллерам
              button.service-item__tag(type="button") #мануал
          .service-item__wrap
            h3.service-item__title  Монтаж балок в кирпичном доме с помощью анкерного болта с гайко
      .page-pagination
        a.page-pagination__link.is-active(href="#") 1
        a.page-pagination__link(href="#") 2
        a.page-pagination__link(href="#") 3
        a.page-pagination__link(href="#") 4
        a.page-pagination__link.page-pagination__link--next(href="#") ▶