.homepage-body
  .header
    position: fixed
.header
  padding: 45px 0
  width: 100%
  top: 0
  left: 0
  z-index: 2
  transition: all $transitionSpeed $ease
  background-color: transparent
  &--white
    .header
      &__logo
        #logo-white
          display: inline-block
        #logo-blue
          display: none
      &__tel
        color: $whiteColor
        &:hover
          border-color: $whiteColor
      &__bid
        color: transparentize($whiteColor, .4)
        border-bottom: 1px solid transparentize($whiteColor, .4)
        &:hover
          color: $whiteColor
    .main-nav
      &__link
        color: $whiteColor
        &:after
          background-color: $whiteColor
        .hamburger-inner
          background-color: $whiteColor
          &:before,
          &:after
            background-color: $whiteColor
  &--menu-open
    background-color: $whiteColor
    .header
      &__logo
        #logo-white
          display: none
        #logo-blue
          display: inline-block
      &__tel
        color: #494949
        border-bottom: 1px solid transparent
        transition: all $transitionSpeed $ease
        &:hover
          border-color: #494949
      &__bid
        color: transparentize(#494949, .4)
        border-bottom: 1px solid transparentize(#494949, .4)
        &:hover
          color: #494949
    .main-nav
      &__link
        color: $blackColor
        &:after
          background-color: $mainColor
        .hamburger-inner
          background-color: $mainColor
          &:before,
          &:after
            background-color: $mainColor
  &__logo
    display: block
    text-decoration: none
    margin-right: 40px
    #logo-white
      display: none
  &__mobile-toggle
    display: none
    padding: 0
    &:hover
      opacity: 1
    .hamburger-inner
      background-color: $main2Color
      &:after,
      &:before
        background-color: $main2Color
  &__contacts
    margin-left: auto
    text-align: right
  &__tel
    display: block
    font-size: 23px
    color: #494949
    margin-bottom: 5px
    text-decoration: none
    border-bottom: 1px solid transparent
    transition: all $transitionSpeed $ease
    &:hover
      border-color: #494949
  &__bid
    font-size: 15px
    color: transparentize(#494949, .4)
    border: 0
    border-radius: 0
    border-bottom: 1px solid transparentize(#494949, .4)
    padding: 0
    background-color: transparent
    transition: all $transitionSpeed $ease
    &:hover
      color: #494949
      border-color: transparent
      cursor: pointer
    
.main-nav
  &__link
    display: inline-block
    vertical-align: middle
    text-decoration: none
    position: relative
    //overflow: hidden
    color: $blackColor
    margin: 0 34px
    padding: 5px 0
    font-size: 17px
    transition: all $transitionSpeed $ease
    &--catalog
      position: relative
      //padding-left: 25px
      .hamburger
        position: absolute
        top: 50%
        left: -20px
        transform: translateY(-50%)
        padding: 0
        max-height: 15px
        &:hover
          opacity: 1
        &-box
          width: 15px
          height: 15px
        &-inner
          background-color: $mainColor
          width: 15px
          height: 2px
          &:before,
          &:after
            background-color: $mainColor
            width: 15px
            height: 2px
          &:before
            top: -5px
          &:after
            bottom: -5px
          
    &:after
      content: ''
      position: absolute
      bottom: 0px
      left: 0
      height: 2px
      width: 0%
      background-color: $mainColor
      transition: all $transitionSpeed $ease
      //transform: translateX(-200px)
    &:hover,
    &.is-active
      &:after
        width: 100%
        //transform: translateX(0px)
      
+r($wide)
  .header
    &__contacts
      display: none
  .main-nav
    margin-left: auto
    &__link
      margin: 0 20px
      &:last-child
        margin-right: 0
      
+r($desktop)
  .header
    padding: 13px 0
    background-color: $whiteColor
    display: block !important
    &__logo
      #logo-white
        display: none !important
      #logo-blue
        display: inline-block !important
      svg
        height: 30px
        width: 100px
  .main-nav
    &__link
      font-size: 16px
      margin-left: 10px
      margin-right: 10px
      color: $blackColor !important
      &--catalog
        margin-left: 25px
    
+r($tablet)
  .header
    &__mobile-toggle
      display: inline-block
      margin-left: auto
      .hamburger-box
        width: 25px
        height: 20px
      .hamburger-inner
        width: 25px
        height: 3px
        &:before,
        &:after
          width: 25px
          height: 3px
        &:before
          top: -7px
        &:after
          bottom: -7px
  .main-nav
    display: none