.header
  padding: 45px 0
  position: fixed
  width: 100%
  top: 0
  left: 0
  z-index: 2
  transition: all $transitionSpeed $ease
  &--menu-open,
  &--blue
    background-color: $whiteColor
    .header
      &__logo
        #logo-white
          display: none
        #logo-blue
          display: inline-block
      &__tel
        color: $blackColor
      &__bid
        color: transparentize($blackColor, .4)
        border-bottom: 1px solid transparentize($blackColor, .4)
        &:hover
          color: $blackColor
    .main-nav
      &__link
        color: $blackColor
        &:after
          background-color: $mainColor
        .hamburger-inner
          background-color: $mainColor
          &:before,
          &:after
            background-color: $mainColor
  &--blue
    background-color: transparent
  &--menu-open
    background-color: $whiteColor
  &__logo
    display: block
    text-decoration: none
    margin-right: 25px
    #logo-blue
      display: none
  &__mobile-toggle
    display: none
    padding: 0
    &:hover
      opacity: 1
    .hamburger-inner
      background-color: $main2Color
      &:after,
      &:before
        background-color: $main2Color
  &__contacts
    margin-left: auto
    text-align: right
  &__tel
    display: block
    font-size: 23px
    color: $whiteColor
    margin-bottom: 5px
  &__bid
    font-size: 15px
    color: transparentize($whiteColor, .2)
    border: 0
    border-radius: 0
    border-bottom: 1px solid transparentize($whiteColor, .2)
    padding: 0
    background-color: transparent
    transition: all $transitionSpeed $ease
    &:hover
      color: $whiteColor
      border-color: transparent
      cursor: pointer
    
.main-nav
  &__link
    display: inline-block
    vertical-align: middle
    text-decoration: none
    position: relative
    overflow: hidden
    color: $whiteColor
    margin: 0 29px
    padding: 5px 0
    font-size: 17px
    transition: all $transitionSpeed $ease
    &--catalog
      position: relative
      padding-left: 25px
      .hamburger
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)
        padding: 0
        max-height: 15px
        &:hover
          opacity: 1
        &-box
          width: 20px
          height: 15px
        &-inner
          background-color: $whiteColor
          width: 20px
          height: 2px
          &:before,
          &:after
            background-color: $whiteColor
            width: 20px
            height: 2px
          &:before
            top: -6px
          &:after
            bottom: -6px
          
    &:after
      content: ''
      position: absolute
      bottom: 0px
      left: 0
      height: 2px
      width: 100%
      background-color: $whiteColor
      transition: all $transitionSpeed $ease
      transform: translateX(200px)
    &:hover,
    &.is-active
      &:after
        transform: translateX(0px)
      
+r($wide)
  .header
    &__contacts
      display: none
  .main-nav
    margin-left: auto
    &__link
      margin: 0 20px
      &:last-child
        margin-right: 0
      
+r($desktop)
  .header
    padding: 25px 0
    background-color: $whiteColor
    &__logo
      #logo-white
        display: none
      #logo-blue
        display: inline-block
    &__mobile-toggle
      display: inline-block
      margin-left: auto
    
  .main-nav
    display: none
    
+r($mobile)
  .header
    padding: 18px 0
    &__logo
      svg
        display: block
        max-height: 40px
    &__mobile-toggle
      .hamburger-box
        width: 30px
        height: 20px
      .hamburger-inner
        width: 30px
        height: 3px
        &:before,
        &:after
          width: 30px
          height: 3px
        &:before
          top: -8px
        &:after
          bottom: -8px