.menu
  position: fixed
  top: 139px
  left: 0
  width: 100%
  min-height: 100vh
  height: 100%
  background-color: $whiteColor
  transition: all $transitionSpeed $ease
  z-index: 999
  padding: 50px 0
  visibility: hidden
  overflow-y: scroll
  opacity: 0
  &.is-active
    opacity: 1
    visibility: visible
  &__wrap
    align-items: flex-start
    padding-bottom: 30px
  &__col
    width: 74%
    &--brands
      width: 26%
      padding-left: 40px
  &__row
    align-items: flex-start
  &__item
    width: 50%
    margin-bottom: 70px
    padding-left: 60px
    position: relative
    ul
      padding: 0
      margin: 0
    li
      display: block
      margin-bottom: 17px
      max-width: 325px
  &__subtitle
    font-family: $fontExtra
    text-transform: uppercase
    margin-top: 0
    max-width: 325px
    font-size: 22px
    margin-bottom: 30px
    position: relative
    .ico
      position: absolute
      top: 50%
      transform: translateY(-50%)
      left: -60px
      color: $mainColor
      font-size: 45px
  &__link
    font-size: 17px
    line-height: 24px
    text-decoration: none
    color: #4c4c4c
    transition: all $transitionSpeed $ease
    border-bottom: 1px solid transparent
    &:hover
      border-color: #cbcbcb
  &__brand
    display: table
    text-decoration: none
    font-size: 65px
    margin-bottom: 30px
    color: #919191
    transition: all $transitionSpeed $ease
    .icon-dax
      opacity: 0.7
      transition: all $transitionSpeed $ease
    &:hover
      cursor: pointer
      color: $main2Color
      .icon
        opacity: 1
    
+r($desktop)
  .menu
    top: 59px
    &__subtitle
      font-size: 19px
      margin-bottom: 25px
    &__item
      padding-left: 55px
      margin-bottom: 50px
      padding-right: 10px
      li
        margin-bottom: 13px
    &__col
      &--brands
        padding-left: 50px
    &__brand
      font-size: 55px
    &__link
      font-size: 16px