.mobile-menu
  display: none
  position: fixed
  overflow-y: scroll
  min-height: 100vh
  left: 0
  top: 99px
  width: 100%
  background-color: $whiteColor
  z-index: 10
  padding-bottom: 30px
  &__link
    display: block
    font-size: 37px
    padding: 30px
    font-family: $fontBold
    text-decoration: none
    color: $blackColor
    position: relative
    &--prod
      .ico
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 30px
        font-size: 17px
        color: $textColor
      &.is-active
        background-color: #dff300
  &__products
    display: none
    padding: 30px 30px 30px 50px
    background-color: $inputBg
    a
      font-size: 30px
      color: $inputText
      text-decoration: none
      display: block
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
  &__tel
    display: block
    text-decoration: none
    font-weight: 300
    font-size: 37px
    position: relative
    color: #6c6c6c
    margin: 30px 0
    padding-left: 80px
    padding-right: 30px
    .icon
      position: absolute
      top: 50%
      left: 30px
      transform: translateY(-50%)
  &__bid
    text-align: center
    padding: 12px 40px
    border: 1px solid #6c6c6c
    color: #6c6c6c
    font-size: 33px
    background-color: transparent
    margin-left: 30px
    margin-right: 30px
    border-radius: 0
    margin-bottom: 50px
    font-weight: 300
  &__copy,
  &__conf
    font-size: 25px
    color: #6c6c6c
    display: block
    margin: 10px 0
    padding: 0 30px
    
+r($mobile)
  .mobile-menu
    top: 79px
    &__link
      font-size: 28px
      padding: 15px
    &__products
      padding: 15px 15px 15px 35px
      a
        font-size: 22px
    &__tel
      font-size: 28px
      padding-left: 65px
      .icon
        left: 15px
    &__bid
      margin-right: 15px
      margin-left: 15px
      font-size: 22px
      margin-bottom: 35px
    &__copy,
    &__conf
      font-size: 18px