*
  box-sizing: border-box
  outline: none
  -webkit-overflow-scrolling: touch

body
  font-family: $fontLight
  
.container
  width: 100%
  max-width: 1510px
  padding-left: 30px
  padding-right: 30px
  margin-left: auto
  margin-right: auto

.flex-wrap
  display: flex
  flex-direction: row
  align-items: center

.common-title
  font-size: 65px
  line-height: 75px
  font-family: $fontExtra
  text-transform: uppercase
  max-width: 780px
  margin-top: 0
  margin-bottom: 55px
  position: relative
  padding-bottom: 45px
  color: $whiteColor
  &:after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 55px
    height: 5px
    background-color: $mainColor
  &--black
    color: $blackColor
    padding-bottom: 0
    &:after
      display: none
  
.common-descr
  font-size: 20px
  max-width: 620px
  color: $whiteColor
  margin-top: 0
  margin-bottom: 45px
  
[class*="ico"],
[class*="icon"]
  display: inline-block