.ico-aim-icon-blue {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-aim-icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-aim2-icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-arrow-down-blue {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-arrow-down-gray {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-arrow-down-green {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-arrow-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-check-w {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-clip {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-cup {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-daxmer {
  width: 2.38em;
  height: 1em;
  fill: #b3b3b3;
}
.ico-facebook {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.ico-fgl {
  width: 2.38em;
  height: 1em;
  fill: #a4cff3;
}
.ico-fixture {
  width: 1em;
  height: 1em;
  fill: #c7cb14;
}
.ico-folder {
  width: 2.38em;
  height: 1em;
  fill: #a0a0a0;
}
.ico-handshake {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-location {
  width: 1em;
  height: 1em;
  fill: #1081e0;
}
.ico-logo1 {
  width: 3.26em;
  height: 1em;
  fill: #b9c000;
}
.ico-logo2 {
  width: 3.26em;
  height: 1em;
  fill: #b9c000;
}
.ico-medal {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-odnokl {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-okl {
  width: 2.38em;
  height: 1em;
  fill: #6a8dab;
}
.ico-optima {
  width: 2.38em;
  height: 1em;
  fill: initial;
}
.ico-pdf {
  width: 1em;
  height: 1em;
  fill: #e2e5e7;
}
.ico-roof {
  width: 1em;
  height: 1em;
  fill: #c7cb14;
}
.ico-skin {
  width: 1em;
  height: 1em;
  fill: #c7cb14;
}
.ico-tel-mobile {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-timer {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-upload-icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-window {
  width: 1em;
  height: 1em;
  fill: #c7cb14;
}
