$sprite: (
	bolt1: (
		offset-x: -314px,
		offset-y: -161px,
		width: 20px,
		height: 34px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	bolt2: (
		offset-x: -314px,
		offset-y: -120px,
		width: 30px,
		height: 31px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	bolt3: (
		offset-x: -314px,
		offset-y: -205px,
		width: 20px,
		height: 33px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	dax-blue-m: (
		offset-x: -200px,
		offset-y: -125px,
		width: 91px,
		height: 27px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	dax-blue: (
		offset-x: 0px,
		offset-y: 0px,
		width: 190px,
		height: 55px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	dax-f: (
		offset-x: 0px,
		offset-y: -170px,
		width: 120px,
		height: 38px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	dax: (
		offset-x: 0px,
		offset-y: -120px,
		width: 137px,
		height: 40px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	fj: (
		offset-x: 0px,
		offset-y: -218px,
		width: 122px,
		height: 31px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	folder: (
		offset-x: -200px,
		offset-y: 0px,
		width: 104px,
		height: 48px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	freshm: (
		offset-x: -231px,
		offset-y: -259px,
		width: 72px,
		height: 18px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	logo: (
		offset-x: 0px,
		offset-y: -65px,
		width: 149px,
		height: 45px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	oklent-b: (
		offset-x: -135px,
		offset-y: -259px,
		width: 86px,
		height: 21px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	oklent: (
		offset-x: -132px,
		offset-y: -218px,
		width: 121px,
		height: 29px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	optima: (
		offset-x: -130px,
		offset-y: -170px,
		width: 126px,
		height: 33px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	play: (
		offset-x: -200px,
		offset-y: -58px,
		width: 57px,
		height: 57px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	prod-icon1: (
		offset-x: 0px,
		offset-y: -259px,
		width: 61px,
		height: 43px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	prod-icon2: (
		offset-x: -314px,
		offset-y: -58px,
		width: 37px,
		height: 52px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	prod-icon3: (
		offset-x: -71px,
		offset-y: -259px,
		width: 54px,
		height: 43px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	prod-icon4: (
		offset-x: -314px,
		offset-y: 0px,
		width: 45px,
		height: 48px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
	tel-mobile: (
		offset-x: -314px,
		offset-y: -248px,
		width: 22px,
		height: 22px,
		total-width: 359px,
		total-height: 302px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-bolt1 {
		@include sprite(bolt1)
	}
	.icon-bolt2 {
		@include sprite(bolt2)
	}
	.icon-bolt3 {
		@include sprite(bolt3)
	}
	.icon-dax-blue-m {
		@include sprite(dax-blue-m)
	}
	.icon-dax-blue {
		@include sprite(dax-blue)
	}
	.icon-dax-f {
		@include sprite(dax-f)
	}
	.icon-dax {
		@include sprite(dax)
	}
	.icon-fj {
		@include sprite(fj)
	}
	.icon-folder {
		@include sprite(folder)
	}
	.icon-freshm {
		@include sprite(freshm)
	}
	.icon-logo {
		@include sprite(logo)
	}
	.icon-oklent-b {
		@include sprite(oklent-b)
	}
	.icon-oklent {
		@include sprite(oklent)
	}
	.icon-optima {
		@include sprite(optima)
	}
	.icon-play {
		@include sprite(play)
	}
	.icon-prod-icon1 {
		@include sprite(prod-icon1)
	}
	.icon-prod-icon2 {
		@include sprite(prod-icon2)
	}
	.icon-prod-icon3 {
		@include sprite(prod-icon3)
	}
	.icon-prod-icon4 {
		@include sprite(prod-icon4)
	}
	.icon-tel-mobile {
		@include sprite(tel-mobile)
	}
